.new {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .top, .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 21px;
            margin: 21px;
            display: flex;

            h1 {
                color: lightgrey;
                font-size: 21px;
            }

            .left {
                flex: 1;
                text-align: center;

                img {
                    width: 99px;
                    height: 99px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right {
                flex: 2;

                form {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap: 21px;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 11px;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                    button {
                        width: 150px;
                        padding: 11px;
                        margin-top: 11px;
                        border-radius: 4px;
                        border: none;
                        font-weight: bold;
                        cursor: pointer;
                        background-color: teal;
                        color: white;
                    }
                }
            }
        }
    }
}